.wp-presenter-pro-slide-title {
	font-size: 60px;
	line-height: 1.1;
	text-align: center;
	font-weight: 700;
}
.slide-title-capitalized {
	text-transform: uppercase;
}
.wp-presenter-pro-text-box {
	font-size: 32px;
	line-height: 1.1;
	text-align: center;
}
.wp-presenter-pro-slide {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 400px;
}
.wp-presenter-pro-slide-transition {
	background-color: rgba(0,0,0,0.3);
	width: 100%;
}
.wp-presenter-pro-image {
	text-align: center;
}
.wp-presenter-pro-content-image {
	display: flex;
	.col-1 {
		width: 100%;
		max-width: 46%;
	}
	.col-2 {
		width: 100%;
		max-width: 50%;
	}
}
.wp-presenter-pro-content-two-columns {
	display: flex;
	justify-content: center;
	.col-1 {
		width: 100%;
		max-width: 46%;
		margin-right: 10px;
	}
	.col-2 {
		width: 100%;
		margin-left: 10px;
		max-width: 46%;
	}
}
.wp-presenter-pro-slide,
.wp-presenter-pro-speaker-notes {
	border: 4px dashed #000;
}
.wp-presenter-pro-speaker-notes {
	margin-top: 20px;
	padding: 10px;
	.block-editor-rich-text__editable {
		border: 1px solid black;
		height: 200px;
		padding: 10px;
		margin: 10px;
	}
}