.wp-presenter-pro-slide-title {
	font-size: 2.1em;
	line-height: 1.1;
	text-align: center;
}
.slide-title-capitalized {
	text-transform: uppercase;
}
.wp-presenter-pro-text-box {
	font-size: 1.8em;
	line-height: 1.1;
	text-align: center;
}
.wp-presenter-pro-slide {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 400px;
}