.wp-presenter-pro-slide-title {
	font-size: 60px;
	line-height: 1.1;
	text-align: center;
	font-weight: 700;
}
.slide-title-capitalized {
	text-transform: uppercase;
}
.wp-presenter-pro-text-box {
	font-size: 32px;
	line-height: 1.1;
	text-align: center;
}
.wp-presenter-pro-slide {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 400px;
}
.wp-presenter-pro-slide-transition {
	min-height: 400px;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
}
.wp-presenter-pro-image {
	text-align: center;
}
.wp-presenter-pro-content-image {
	display: flex;
	justify-content: center;
	.col-1 {
		max-width: 46%;
		margin-right: 15px;
		p {
			text-align: left;
		}
	}
	.col-2 {
		max-width: 50%;
	}
}
.wp-presenter-pro-content-two-columns {
	display: flex;
	justify-content: center;
	.col-1 {
		max-width: 46%;
		margin-right: 10px;
	}
	.col-2 {
		margin-left: 10px;
		max-width: 46%;
	}
}
.reveal blockquote.wp-presenter-pro-slide-title {
	font-style: normal;
	border: 0;
}